@theme {
  --color-primary: #000000;
  --color-accent: #007bff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #27ae60;
  --color-blue: #4b8df8;
  --color-yellow: #f5b041;
  --color-orange: #ff5733;
  --color-purple: #8e44ad;
}
