@theme {
  --color-primary: #323451;
  --color-accent: #007bff;
  --color-white: #ffffff;
  --color-black: #000;
  --color-green: #e77c7c;
  --color-blue: #9bb9ea;
  --color-yellow: #f5b041;
  --color-orange: #fbad83;
  --color-purple: #d2a1e7;
}
