

@theme {
    --color-primary: #000000;
    --color-accent: #007BFF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-green: #27AE60,
    --color-blue: #4B8DF8,
    --color-yellow: #F5B041,
    --color-orange: #FF5733,
    --color-purple: #8E44AD,
}